{% extends "base.jinja2" %}

{% block breadcrumbs %}
    {% set page_title='Users' %}
    {% include 'breadcrumbs.jinja2' %}
{% endblock breadcrumbs %}


{% block sidebar %}

    {% include 'sidebar.jinja2' %}

{% endblock sidebar %}

{% block page_content %}
    {% set page_title='Users' %}
    {% include 'page_header.jinja2' %}

    {% set users=entity.users %}
    {% include 'auth/list_users.jinja2' %}

{% endblock page_content %}
